$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px
:root
  --screen-sm: 576px
  --screen-md: 768px
  --screen-lg: 992px
  --screen-xl: 1200px

  --app-border-color: #dcdfe6
  --app-primary-color: #409eff

$danger: #F56C6C
